<launch>

  <arg name="max_speed" default="0.5" />
  <arg name="max_steering_angle" default="0.4" />
  <arg name="cmd_topic" default="/cmd_vel" />

  <node
    name="four_wheel_steer_teleop"
    pkg="four_wheel_steer_teleop"
    type="four_wheel_steer_teleop.py"
    output="screen">

    <param name="max_speed" value="$(arg max_speed)" />
    <param name="max_steering_angle" value="$(arg max_steering_angle)" />
    <param name="cmd_topic" value="$(arg cmd_topic)" />
  </node>

</launch>
